# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio cache/options directory
**/.vs/

# TouchGFX generated directories
**/generated/
**/TouchGFX/build/

# Generated build files
*.d
*.o
*.su